<div class="pad">
<div *ngIf="!isAuth()">
  <a [routerLink]="['/search']" class="right">home Page</a>
  <div class="form-group">
    <label for="username">username:</label>
    <input type="text" name="username" #username/>
  </div>
  <div class="form-group">
    <label for="password">password:</label>
    <input type="password" #password/>
  </div>
  <a class="btn btn-ifno" (click)="login(username.value,password.value)">submit</a>
</div>
<div *ngIf="isAuth()">
  <a [routerLink]="['/search']" class="right">home Page</a>
  <p>logged in ass {{ authService.getUser() }}</p>
  <div class="text-center">
  <a class="btn btn-danger " (click)="logout()">logout</a>
  </div>
</div>
<div class="alert alert-danger" *ngIf="message">{{ message }}</div>
</div>
