<div *ngIf="album">
  <h1>{{ album.name }}</h1>
  <h2>{{ album.artists[0].name }}</h2>
  <p>
    <img src="{{ album.images[1].url }}"/>
  </p>

  <h3>Tracks</h3>
  <ol>
    <li *ngFor="let t of album.tracks.items">
      <a [routerLink]="['/tracks', t.id]">
        {{ t.name }}
      </a>
    </li>
  </ol>

  <p><a href (click)="back()">Back</a></p>
</div>
