<div *ngIf="track">
  <h1>{{ track.name }}</h1>
  <h2>{{  track.artists[0].name }}</h2>
  <p>
    <img src="{{ track.album.images[0].url  }}"/>
  </p>
  <h4>tracks</h4>
  <p>
    <audio controls src="{{ track.preview_url }}"></audio>
  </p>

  <p><a href (click)="back()">back</a></p>
</div>
