<a class='right' [routerLink]="['/Login']">Auth</a>
<p class="pad">
  <input  type="text" [value]="query" autofocus #newquery
          (keydown.enter)="submit(newquery.value)"/>
  <button (submit)="submit(newquery.value)">submit</button>
</p>

<div *ngIf="results">
  <div *ngIf="!results.length">
    <p>there is no result for this search......</p>
  </div>
  <div *ngIf="results.length">
    <h2>results</h2>
    <div class="row">
       <div class="col-lg-4 col-sm-6" *ngFor="let t of results">
         <div class="thumbnail">
           <div class="content">
             <img src="{{ t.album.images[0].url }}" class="img-responsive"/>
           </div>
           <div class="caption">
             <h4>
               <a [routerLink]="['/tracks',t.id]">{{ t.name }}</a>
             </h4>
             <h4>
               <a [routerLink]="['/artists', t.artists[0].id]">{{ t.artists[0].name }}</a>
             </h4>
             <h4>
               <a [routerLink]="['/albums',t.album.id]">{{ t.album.name }}</a>
             </h4>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>
